*.log
gateway/Logs/
server1/Logs/
gateway/Backup/
gateway/s3relay/Logs
gateway/rolevalue_setting/rolevalue_log
server1/dulieu/bosshoangkim/record_exp/gold_boss/Nguy?n?Minh?Tr?.txt
server1/dulieu/bosshoangkim/record_exp/gold_boss/Nguy?n?Minh?Tr?.txt
server1/dulieu/bosshoangkim/record_exp/gold_boss/L?u?Di?Qu?.txt
server1/dulieu/bosshoangkim/record_award/gold_boss/L?u?Di?Qu?.txt
server1/servershutdown_log
gateway/statdata.dat
gateway/bishop_livetime.dat
